client.py
*.swp
*.synctex.gz
*.pyc
*.DS_Store
*.log
*.aux
*.dvi
*.out
*.bbl
*.blg
sw-system.pdf
sw-cfhtls.pdf
sw-publication-policy-cfhtls.pdf
sw-publication-policy-gen.pdf
workspace
litter
*.pickle
fin*
listfiles_d1_d11
data
*.cpt
*tar.gz
falsepositives
*.mov
*.m4v
*.mp4
talks
SIMCT
SpaghettiLens
attic
/Users/hollowayp/vics82_swap_pjm_updated/sanitized_spacewarp_2018-04-02_mongostartup.log
/Users/hollowayp/vics82_swap_pjm_updated/sanitized_spacewarp_2018-04-02_mongorestore.log
./vics82_swap_pjm_updated/analysis/VICS82_2014-01-07_20:01:13/*
/Users/hollowayp/vics82_swap_pjm_updated/analysis/sanitized_spacewarp_2018-04-02
/Users/hollowayp/vics82_swap_pjm_updated/analysis/VICS82_2014-01-07_20:00:00/*
/Users/hollowayp/vics82_swap_pjm_updated/analysis/sanitized_spacewarp_2018-04-02.tar.gz
/Users/hollowayp/vics82_swap_pjm_updated/analysis/VICS82_2014-01-07_20:01:13/VICS82_2014-01-07_20:01:13_candidate_catalog.txt
/Users/hollowayp/vics82_swap_pjm_updated/analysis/VICS82_2014-01-07_20:01:13/VICS82_2014-01-07_20:01:13_retire_these.txt
/Users/hollowayp/vics82_swap_pjm_updated/analysis/sanitized_spacewarp_2018-04-02/spacewarp_classifications.json

analysis/VICS82_2014-01-07_20:01:13/VICS82_2014-01-07_20:01:13_histories.png
*.json
*.png
*.txt
analysis/VICS82_2014-01-07_20:01:13/VICS82_2014-01-07_20:01:13_report.tex
analysis/VICS82_2014-01-07_20:01:13/VICS82_2014-01-07_20:01:13_report.texlog
analysis/VICS82_2014*
VICS82 Downloaded Images/*